Repository ntxinh/nestjs-cqrs-es: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run prettier:fix

:sparkles: Update script
  README.md
  package.json
Due: npm run prettier:fix

:sparkles: Clean code
  README.md
  src/heroes/commands/handlers/create-hero.handler.ts
  src/heroes/controllers/heroes.controller.ts
  src/heroes/queries/handlers/get-hero.handler.ts
  src/heroes/queries/handlers/get-heroes.handler.ts
  src/heroes/repository/hero.repository.ts
Due: npm run lint:fix, npm run prettier:fix

:sparkles: run lint fix
  .lintstagedrc.json
  config.ts
  package.json
  src/event-stores/entities/event.entity.ts
  src/event-stores/event-stores.module.ts
  src/event-stores/events/aggregate-root.event.ts
  src/event-stores/sagas/event-stores.sagas.ts
  src/heroes/commands/handlers/create-hero.handler.ts
  src/heroes/commands/handlers/drop-ancient-item.handler.ts
  src/heroes/commands/handlers/index.ts
  src/heroes/commands/handlers/kill-dragon.handler.ts
  src/heroes/commands/impl/create-hero.command.ts
  src/heroes/commands/impl/drop-ancient-item.command.ts
  src/heroes/commands/impl/index.ts
  src/heroes/commands/impl/kill-dragon.command.ts
  src/heroes/controllers/heroes.controller.ts
  src/heroes/dtos/hero.dto.ts
  src/heroes/entities/hero.entity.ts
  src/heroes/events/handlers/hero-created.handler.ts
  src/heroes/events/handlers/hero-found-item.handler.ts
  src/heroes/events/handlers/hero-killed-dragon.handler.ts
  src/heroes/events/handlers/index.ts
  src/heroes/events/impl/hero-found-item.event.ts
  src/heroes/events/impl/hero-killed-dragon.event.ts
  src/heroes/events/impl/index.ts
  src/heroes/heroes.module.ts
  src/heroes/interfaces/kill-dragon-dto.interface.ts
  src/heroes/queries/handlers/get-hero.handler.ts
  src/heroes/queries/handlers/get-heroes.handler.ts
  src/heroes/queries/handlers/index.ts
  src/heroes/queries/impl/get-hero.query.ts
  src/heroes/queries/impl/get-heroes.query.ts
  src/heroes/queries/impl/index.ts
  src/heroes/repository/hero.repository.ts
  src/heroes/sagas/heroes.sagas.ts
  src/heroes/services/heros.service.ts
  src/main.ts
  tslint.json
Due: npm run lint:fix, npm run prettier:fix

:sparkles: run lint fix
  src/heroes/commands/handlers/kill-dragon.handler.ts
  src/heroes/controllers/heroes.controller.ts
  src/heroes/entities/hero.entity.ts
  src/heroes/events/handlers/hero-created.handler.ts
  src/heroes/events/handlers/hero-found-item.handler.ts
  src/heroes/events/handlers/hero-killed-dragon.handler.ts
  src/heroes/interfaces/kill-dragon-dto.interface.ts
  src/heroes/queries/handlers/get-hero.handler.ts
  src/heroes/queries/handlers/get-heroes.handler.ts
  src/heroes/services/heros.service.ts
  src/main.ts
  tslint.json
Due: npm run lint:fix, npm run prettier:fix

:sparkles: run lint fix
  src/heroes/commands/handlers/index.ts
  src/heroes/events/handlers/index.ts
  src/heroes/heroes.module.ts
  src/heroes/queries/handlers/index.ts
  tslint.json
Due: npm run lint:fix, npm run prettier:fix

:sparkles: Add API version
  src/main.ts
Due: npm run lint:fix

:sparkles: Add pm2
  ecosystem.config.js
  ormconfig.js
  package-lock.json
  package.json
Due: npm run prettier:fix

:sparkles: Add debug config
  .gitignore
  .vscode/launch.json
Due: npm run prettier:fix

:sparkles: Add health check
  README.md
  package-lock.json
  package.json
  src/app.module.ts
  src/terminus-options.service.ts
Due: npm run lint:fix, npm run prettier:fix

:sparkles: Add global module
  src/app.module.ts
  src/globals/globals.module.ts
  src/globals/terminus-options.service.ts
Due: npm run lint:fix

:sparkles: Add UoW
  src/globals/globals.module.ts
  src/globals/unit-of-work/unit-of-work.interface.ts
  src/globals/unit-of-work/uow-object.interface.ts
  src/globals/unit-of-work/uow.entity.ts
  src/globals/unit-of-work/uow.repository.ts
  src/globals/unit-of-work/uow.service.ts
  src/globals/unit-of-work/uow.ts
  src/heroes/controllers/heroes.controller.ts
  src/heroes/entities/test.entity.ts
  src/heroes/heroes.module.ts
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.{ts,tsx}
  npm run prettier:fix: any of: *.{json,css,md}
